
.page-yoga .site-top-panel .lang-wrap .icon-lang,
.page-yoga .inner-nav ul li a:hover, .page-yoga .inner-nav ul li a.active,
.page-yoga p a,.page-yoga .blog-date .date .month,.page-yoga .widget-footer .recent-item h4,
.page-yoga .widget-footer address strong,
.page-yoga h3 span,.page-yoga h2 span,
.page-yoga .pic .links .link-icon.alt
{color:#855ad8;}
.page-yoga .mn-sub li:hover,
.page-yoga .mn-sub li.active,
.color-2 .divider,.page-yoga .blog-date .date:before,.page-yoga .divider,
.page-yoga .tuner i
{  background: #855ad8;  }

.page-yoga .menu-shop-card .mn-sub li:hover{background: transparent}
.page-yoga .menu-shop-card .mn-sub li .shop-cart-menu a.cws-button,
.page-yoga .inner-nav.mobile_nav .shop-cart-menu a.cws-button{
    color:#855ad8;
    border-color: #855ad8;
}
.page-yoga .author img{ border-color: #855ad8;}
.page-yoga .comment-container .comment-text{
    background: #fff;
}
.page-yoga .comment-container .button-reply{
    color:#535353;
}
.color-2 .link-icon{
    width: 38px;
    height: 38px;
    font-size: 20px;
    display: inline-block;
    -webkit-box-shadow: 0 0 0 1px #855ad8;
    -moz-box-shadow: 0 0 0 1px #855ad8;
    box-shadow: 0 0 0 1px #855ad8;
    line-height: 38px;
    color: #855ad8;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.color-2 .link-icon:hover{
    background:#855ad8;
    color:#fff;
}
.color-2 .pic .hover-effect {
    opacity: 0;
    position: absolute;
    z-index: 2;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.pic .links .link-icon.color-2.alt{
    color: #855ad8;
    -webkit-box-shadow: 0 0 0 1px #855ad8;
    -moz-box-shadow: 0 0 0 1px #855ad8;
    box-shadow: 0 0 0 1px #855ad8;
}

body.page-yoga .md-arrow > div{
    background: transparent;
}

.pic .links .link-icon.color-2.alt:hover{
    background: #855ad8;
    color: #ffffff;
}
.filter-button.color-2{ color:#615f5f !important;}
.title-section.color-2 > span {color:#855ad8 !important;}
.banner-section.color-2{background: #855ad8}
.filter-button.color-2.active,.filter-button.color-2:hover{
    background: #855ad8;
    border-color: #855ad8;
    color: #ffffff !important;
}

.counter-block.color-2 .count-divider {

    border-top-color:#855ad8;
}

.page-yoga .blog-item .blog-item-data .blog-title a{color:#855ad8}

.page-yoga .carousel-pag.main-color .owl-page.active,
.page-yoga .pagiation-carousel.main-color .owl-page.active{
    background: #855ad8;
    border-color:#855ad8;
}
.page-yoga .toggle .content-title.active{
    color:#855ad8
}
.page-yoga .accordion .content-title.active i.accordion-icon,
.page-yoga .toggle .content-title.active i.accordion-icon {
    -webkit-box-shadow: 0 0 0 1px #855ad8;
    -moz-box-shadow: 0 0 0 1px #855ad8;
    box-shadow: 0 0 0 1px #855ad8;
}

.page-yoga .toggle .content-title.active {
    border-color: #855ad8;
}

.page-yoga .accordion .content-title.active i.accordion-icon:before,
.page-yoga .toggle .content-title.active i.accordion-icon:before {
    background: #855ad8;
}
.page-yoga .tabs .tabs-btn:hover, .page-yoga .tabs .tabs-btn.active, .page-yoga  .tabs .nav-tabs > li.active > a {
    color: #ffffff;
    background: #855ad8;
    border-color: #855ad8;
}
.page-yoga .pic .links .link-icon.alt{
    color:#855ad8 !important;
    -webkit-box-shadow: 0 0 0 1px #855ad8 !important;
    -moz-box-shadow: 0 0 0 1px #855ad8 !important;
    box-shadow: 0 0 0 1px #855ad8 !important;
}